/node_modules
/.cache
/.build
/build/*
/.env*
/yarn-error.log
/*.db

assets/build/*
assets/source/productions/*
!assets/source/productions/.gitkeep
assets/source/images/*
!assets/source/images/.gitkeep
assets/source/legal/*
!assets/source/legal/.gitkeep
